In [3]:
import pandas as pd
import pm4py

In [4]:
log1 = pm4py.read_xes('BPIC15_1.xes')
log2 = pm4py.read_xes('BPIC15_2.xes')
log3 = pm4py.read_xes('BPIC15_3.xes')
log4 = pm4py.read_xes('BPIC15_4.xes')
log5 = pm4py.read_xes('BPIC15_5.xes')
df1 = pm4py.convert_to_dataframe(log1)
df2 = pm4py.convert_to_dataframe(log2)
df3 = pm4py.convert_to_dataframe(log3)
df4 = pm4py.convert_to_dataframe(log4)
df5 = pm4py.convert_to_dataframe(log5)

c:\Users\I516663\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
parsing log, completed traces :: 100%|██████████| 1199/1199 [00:04<00:00, 254.04it/s]
parsing log, completed traces :: 100%|██████████| 832/832 [00:03<00:00, 226.73it/s]
parsing log, completed traces :: 100%|██████████| 1409/1409 [00:05<00:00, 270.88it/s]
parsing log, completed traces :: 100%|██████████| 1053/1053 [00:04<00:00, 263.16it/s]
parsing log, completed traces :: 100%|██████████| 1156/1156 [00:06<00:00, 170.05it/s]

In [5]:
df1["r:municipality"] = "muni-1"
df2["r:municipality"] = "muni-2"
df3["r:municipality"] = "muni-3"
df4["r:municipality"] = "muni-4"
df5["r:municipality"] = "muni-5"

In [6]:
df1.head()

,question,dateFinished,dueDate,action_code,activityNameEN,planned,time:timestamp,monitoringResource,org:resource,activityNameNL,...,case:termName,case:endDatePlanned,case:startDate,case:requestComplete,case:IDofConceptCase,case:landRegisterID,case:caseProcedure,case:Includes_subCases,dateStop,r:municipality
0,EMPTY,2014-04-14 00:00:00+00:00,2014-04-17 07:30:39+00:00,01_HOOFD_010,register submission date request,2014-04-15 07:30:39+00:00,2014-04-10 22:00:00+00:00,2670601,9264148,registratie datum binnenkomst aanvraag,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
1,False,2014-04-14 00:00:00+00:00,NaT,01_HOOFD_011,OLO messaging active,2014-04-15 07:34:03+00:00,2014-04-13 22:00:00+00:00,2670601,9264148,OLO berichtenverkeer actief,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
2,True,2014-04-14 00:00:00+00:00,NaT,01_HOOFD_020,send confirmation receipt,2014-04-15 07:34:03+00:00,2014-04-13 22:00:00+00:00,2670601,9264148,versturen ontvangstbevestiging,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
3,False,2014-04-14 00:00:00+00:00,2014-04-21 07:37:17+00:00,02_DRZ_010,forward to the competent authority,2014-04-15 07:37:17+00:00,2014-04-13 22:00:00+00:00,2670601,9264148,doorsturen aan bevoegd gezag,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
4,True,2014-04-14 00:00:00+00:00,NaT,04_BPT_005,regular procedure without MER,2014-04-15 07:37:22+00:00,2014-04-13 22:00:00+00:00,2670601,9264148,reguliere procedure zonder MER,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1

In [7]:
combined_df = pd.concat([df1, df2, df3, df4, df5], axis=0)

In [8]:
#show combined_df specific column
combined_df.tail()

,question,dateFinished,dueDate,action_code,activityNameEN,planned,time:timestamp,monitoringResource,org:resource,activityNameNL,...,case:termName,case:endDatePlanned,case:startDate,case:requestComplete,case:IDofConceptCase,case:landRegisterID,case:caseProcedure,case:Includes_subCases,dateStop,r:municipality
59078,EMPTY,2014-03-12 00:00:00+00:00,NaT,01_HOOFD_811,stop all running subcases 2b,2014-03-13 13:55:33+00:00,2014-03-11 23:00:00+00:00,560600,560600,stop alle lopende deelzaken 2b,...,NaN,NaT,2013-12-29 23:00:00+00:00,FALSE,9999524,10000071,NaN,NaN,NaT,muni-5
59079,EMPTY,2014-03-12 00:00:00+00:00,NaT,01_HOOFD_815,phase case handled,2014-03-13 13:55:57+00:00,2014-03-11 23:00:00+00:00,560600,560600,fase zaak afgehandeld,...,NaN,NaT,2013-12-29 23:00:00+00:00,FALSE,9999524,10000071,NaN,NaN,NaT,muni-5
59080,EMPTY,2014-03-12 00:00:00+00:00,NaT,01_HOOFD_809,read publication date field,2014-03-13 13:55:19+00:00,2014-03-11 23:00:00+00:00,560600,560600,veld datum publicatie uitlezen,...,NaN,NaT,2013-12-29 23:00:00+00:00,FALSE,9999524,10000071,NaN,NaN,NaT,muni-5
59081,EMPTY,2014-03-12 00:00:00+00:00,NaT,01_BB_775,phase decision irrevocable,2014-03-13 13:55:19+00:00,2014-03-11 23:00:00+00:00,560600,560600,fase besluit onherroepelijk,...,NaN,NaT,2013-12-29 23:00:00+00:00,FALSE,9999524,10000071,NaN,NaN,NaT,muni-5
59082,EMPTY,2014-03-12 00:00:00+00:00,NaT,01_BB_770,set phase: phase permitting irrevocable,2014-03-13 13:55:18+00:00,2014-03-12 13:55:18+00:00,560600,560600,instellen besluitfase: oorspronkelijk besluit,...,NaN,NaT,2013-12-29 23:00:00+00:00,FALSE,9999524,10000071,NaN,NaN,NaT,muni-5

In [9]:
#combined_df.head()
print(combined_df.shape[0]); #return row count

262628

In [10]:
log_fromdude = pd.read_csv('../bpic15_amended_typed.csv')
print(log_fromdude.shape[0]); #return row count

193453

In [11]:
#export combined_df to csv
combined_df.to_csv("../data/raw/bpic15.csv")