In [152]:
import pandas as pd
import pm4py
import pytz
from datetime import datetime, timedelta
import numpy as np

In [153]:
log1 = pm4py.read_xes('BPIC15_1.xes')
log2 = pm4py.read_xes('BPIC15_2.xes')
log3 = pm4py.read_xes('BPIC15_3.xes')
log4 = pm4py.read_xes('BPIC15_4.xes')
log5 = pm4py.read_xes('BPIC15_5.xes')
df1 = pm4py.convert_to_dataframe(log1)
df2 = pm4py.convert_to_dataframe(log2)
df3 = pm4py.convert_to_dataframe(log3)
df4 = pm4py.convert_to_dataframe(log4)
df5 = pm4py.convert_to_dataframe(log5)

parsing log, completed traces ::   0%|          | 0/1199 [00:00<?, ?it/s]

parsing log, completed traces ::   0%|          | 0/832 [00:00<?, ?it/s]

parsing log, completed traces ::   0%|          | 0/1409 [00:00<?, ?it/s]

parsing log, completed traces ::   0%|          | 0/1053 [00:00<?, ?it/s]

parsing log, completed traces ::   0%|          | 0/1156 [00:00<?, ?it/s]

In [154]:
df1["r:municipality"] = "muni-1"
df2["r:municipality"] = "muni-2"
df3["r:municipality"] = "muni-3"
df4["r:municipality"] = "muni-4"
df5["r:municipality"] = "muni-5"

In [155]:
combined_df = pd.concat([df1, df2, df3, df4, df5], axis=0)

In [156]:
#combined_df.head()
print(combined_df.shape[0]); #return row count
log_fromdude = pd.read_csv('../bpic15_amended_typed.csv')
print(log_fromdude.shape[0]); #return row count

262628
193453

In [157]:
#export combined_df to csv
combined_df.to_csv("../data/raw/bpic15.csv", index=False)

In [158]:
#our_df = pd.read_csv("../data/processed/bpic15.csv")
#his_df = pd.read_csv("../data/processed/bpic15_amended_typed.csv")
#our_observer_df = our_df[our_df["case:concept:name"] == 3614350]
#his_observer_df = his_df[his_df["Case ID"] == 3614350]

In [159]:
#print(our_df.iloc[0]["time:timestamp"])

In [160]:
#print(type(our_df.iloc[0]["time:timestamp"]))

In [161]:
summer_time_dates_ger = {
    2009: [
        datetime.strptime('2009-03-29 02:00:00+00:00', '%Y-%m-%d %H:%M:%S%z'),
        datetime.strptime('2009-10-31 03:00:00+00:00', '%Y-%m-%d %H:%M:%S%z')
    ],
    2010: [
        datetime.strptime('2010-03-28 02:00:00+00:00', '%Y-%m-%d %H:%M:%S%z'),
        datetime.strptime('2010-10-31 03:00:00+00:00', '%Y-%m-%d %H:%M:%S%z')
    ],
    2011: [
        datetime.strptime('2011-03-27 02:00:00+00:00', '%Y-%m-%d %H:%M:%S%z'),
        datetime.strptime('2011-10-30 03:00:00+00:00', '%Y-%m-%d %H:%M:%S%z')
    ],
    2012: [
        datetime.strptime('2012-03-25 02:00:00+00:00', '%Y-%m-%d %H:%M:%S%z'),
        datetime.strptime('2012-10-28 03:00:00+00:00', '%Y-%m-%d %H:%M:%S%z')
    ],
    2013: [
        datetime.strptime('2013-03-31 02:00:00+00:00', '%Y-%m-%d %H:%M:%S%z'),
        datetime.strptime('2013-10-27 03:00:00+00:00', '%Y-%m-%d %H:%M:%S%z')
    ],
    2014: [
        datetime.strptime('2014-03-30 02:00:00+00:00', '%Y-%m-%d %H:%M:%S%z'),
        datetime.strptime('2014-10-26 03:00:00+00:00', '%Y-%m-%d %H:%M:%S%z')
    ],
    2015: [
        datetime.strptime('2015-03-29 02:00:00+00:00', '%Y-%m-%d %H:%M:%S%z'),
        datetime.strptime('2015-10-25 03:00:00+00:00', '%Y-%m-%d %H:%M:%S%z')
    ]
}
def transfromTimestamp(timeString):
    #format_string = "%Y-%m-%d %H:%M:%S%z"
    #newTimeStamp = datetime.strptime(timeString, format_string)
    return pd.to_datetime(timeString)

def addHours(timestamp, format_string = "%Y-%m-%d %H:%M:%S"):
    newtime = timestamp + timedelta(hours=10)
    return newtime.strftime(format_string)
    #print(type(timestamp))
    x = 1
    if timestamp.year == 2009:
        if timestamp > summer_time_dates_ger[2009][0] and timestamp < summer_time_dates_ger[2009][1]:
            newtime =timestamp  + timedelta(hours=8+x)
            return newtime.strftime(format_string)
        else: 
            newtime =timestamp  + timedelta(hours=9+x)
            return newtime.strftime(format_string)
    elif timestamp.year == 2010:
        if timestamp > summer_time_dates_ger[2010][0] and timestamp < summer_time_dates_ger[2010][1]:
            newtime =timestamp  + timedelta(hours=8+x)
            return newtime.strftime(format_string)
        else: 
            newtime =timestamp  + timedelta(hours=9+x)
            return newtime.strftime(format_string)
    elif timestamp.year == 2011:
        if timestamp > summer_time_dates_ger[2011][0] and timestamp < summer_time_dates_ger[2011][1]:
            newtime =timestamp  + timedelta(hours=8+x)
            return newtime.strftime(format_string)
        else: 
            newtime =timestamp  + timedelta(hours=9+x)
            return newtime.strftime(format_string)
    elif timestamp.year == 2012:
        if timestamp > summer_time_dates_ger[2012][0] and timestamp < summer_time_dates_ger[2012][1]:
            newtime =timestamp  + timedelta(hours=8+x)
            return newtime.strftime(format_string)
        else: 
            newtime =timestamp  + timedelta(hours=9+x)
            return newtime.strftime(format_string)
    elif timestamp.year == 2013:
        if timestamp > summer_time_dates_ger[2013][0] and timestamp < summer_time_dates_ger[2013][1]:
            newtime =timestamp  + timedelta(hours=8+x)
            return newtime.strftime(format_string)
        else: 
            newtime =timestamp  + timedelta(hours=9+x)
            return newtime.strftime(format_string)
    elif timestamp.year == 2014:
        if timestamp > summer_time_dates_ger[2014][0] and timestamp < summer_time_dates_ger[2014][1]:
            newtime =timestamp  + timedelta(hours=8+x)
            return newtime.strftime(format_string)
        else: 
            newtime =timestamp  + timedelta(hours=9+x)
            return newtime.strftime(format_string)
    elif timestamp.year == 2015:
        if timestamp > summer_time_dates_ger[2015][0] and timestamp < summer_time_dates_ger[2015][1]:
            newtime =timestamp  + timedelta(hours=8+x)
            return newtime.strftime(format_string)
        else: 
            newtime =timestamp  + timedelta(hours=9+x)
            return newtime.strftime(format_string)
            
    raise Exception("Year not found")
    return timestamp

In [162]:
combined_df.head()

,question,dateFinished,dueDate,action_code,activityNameEN,planned,time:timestamp,monitoringResource,org:resource,activityNameNL,...,case:termName,case:endDatePlanned,case:startDate,case:requestComplete,case:IDofConceptCase,case:landRegisterID,case:caseProcedure,case:Includes_subCases,dateStop,r:municipality
0,EMPTY,2014-04-14 00:00:00+00:00,2014-04-17 07:30:39+00:00,01_HOOFD_010,register submission date request,2014-04-15 07:30:39+00:00,2014-04-10 22:00:00+00:00,2670601,9264148,registratie datum binnenkomst aanvraag,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
1,False,2014-04-14 00:00:00+00:00,NaT,01_HOOFD_011,OLO messaging active,2014-04-15 07:34:03+00:00,2014-04-13 22:00:00+00:00,2670601,9264148,OLO berichtenverkeer actief,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
2,True,2014-04-14 00:00:00+00:00,NaT,01_HOOFD_020,send confirmation receipt,2014-04-15 07:34:03+00:00,2014-04-13 22:00:00+00:00,2670601,9264148,versturen ontvangstbevestiging,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
3,False,2014-04-14 00:00:00+00:00,2014-04-21 07:37:17+00:00,02_DRZ_010,forward to the competent authority,2014-04-15 07:37:17+00:00,2014-04-13 22:00:00+00:00,2670601,9264148,doorsturen aan bevoegd gezag,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
4,True,2014-04-14 00:00:00+00:00,NaT,04_BPT_005,regular procedure without MER,2014-04-15 07:37:22+00:00,2014-04-13 22:00:00+00:00,2670601,9264148,reguliere procedure zonder MER,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1

In [163]:
testrow = combined_df.iloc[0]
testrow["time:timestamp"] = addHours(transfromTimestamp(testrow["time:timestamp"]))

testrow.head()
#print(type(testrow["time:timestamp"]))

/var/folders/s_/tyyjfphn3wl93jz8bhkrh3x40000gn/T/ipykernel_72432/1771715533.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testrow["time:timestamp"] = addHours(transfromTimestamp(testrow["time:timestamp"]))

question                                     EMPTY
dateFinished             2014-04-14 00:00:00+00:00
dueDate                  2014-04-17 07:30:39+00:00
action_code                           01_HOOFD_010
activityNameEN    register submission date request
Name: 0, dtype: object

In [164]:
# add the respective time zone difference from Australia and germany to dataframe
combined_df['time:timestamp'] = combined_df.apply(
    lambda row: addHours(transfromTimestamp(row['time:timestamp'])), axis=1)
combined_df.head()

,question,dateFinished,dueDate,action_code,activityNameEN,planned,time:timestamp,monitoringResource,org:resource,activityNameNL,...,case:termName,case:endDatePlanned,case:startDate,case:requestComplete,case:IDofConceptCase,case:landRegisterID,case:caseProcedure,case:Includes_subCases,dateStop,r:municipality
0,EMPTY,2014-04-14 00:00:00+00:00,2014-04-17 07:30:39+00:00,01_HOOFD_010,register submission date request,2014-04-15 07:30:39+00:00,None,2670601,9264148,registratie datum binnenkomst aanvraag,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
1,False,2014-04-14 00:00:00+00:00,NaT,01_HOOFD_011,OLO messaging active,2014-04-15 07:34:03+00:00,None,2670601,9264148,OLO berichtenverkeer actief,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
2,True,2014-04-14 00:00:00+00:00,NaT,01_HOOFD_020,send confirmation receipt,2014-04-15 07:34:03+00:00,None,2670601,9264148,versturen ontvangstbevestiging,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
3,False,2014-04-14 00:00:00+00:00,2014-04-21 07:37:17+00:00,02_DRZ_010,forward to the competent authority,2014-04-15 07:37:17+00:00,None,2670601,9264148,doorsturen aan bevoegd gezag,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1
4,True,2014-04-14 00:00:00+00:00,NaT,04_BPT_005,regular procedure without MER,2014-04-15 07:37:22+00:00,None,2670601,9264148,reguliere procedure zonder MER,...,Termijn bezwaar en beroep 1,2014-07-17 22:00:00+00:00,2014-04-10 22:00:00+00:00,TRUE,10009280,NaN,NaN,NaN,NaT,muni-1

In [165]:
combined_df.to_csv(
    "../data/raw/bpic15_time_manipulated.csv", index=False)